.formata {
  margin-top: 30px;
  background-image: linear-gradient(rgb(75, 75, 87), red);
  max-height: 100px;
  display: flex;
  flex-direction: row;
}
p {
  background-color: chartreuse;
  font-size: 30px;
}
h1 {
  flex: 1;
  min-width: 600px;
}
.navegacao {
  text-decoration: none;
  display: flex list-item;
  min-width: 300;
}
